/* Global styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Monsterrat', sans-serif;
    background: #000000;
    color: #ececeb;
}

/* Grids */

#wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "nav nav"
        "socials main"
        "socials card"
        "footer footer"
        ;
}

.main-content {
    grid-area: main;
}

.card {
    grid-area: card;
}

.socials {
    grid-area: socials;
}

footer {
    grid-area: footer;
}

nav {
    grid-area: nav;
}

/* nav */

nav {
    width: 100%;
    z-index: 3;
}

nav .menu {
    text-align: center;
    margin: 0px 10px 0px 10px;
    padding: 0;
    overflow: hidden;
    float: right;
    list-style: none;
    clear: both;
    max-height: 0; 
    transition: max-height .2s ease-out;
}

.logo img {
    float: left;
    display: block;
    padding: 20px 20px;
    width: 40px;
    margin: 0 25px 0 0;
}
.menu a {
    color: #ececeb;
    text-decoration: none;
    font-size: 1rem;
}

.menu li {
    margin-top: 30px;
}

.menu li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #f0ff00;
    display: block;
    margin: auto;
    transition: .5s;
}

.menu li:hover::after {
    width: 100%;
}

nav {
    width: 100%;
    height: 70px;
    z-index: 3;
}

nav .menu-btn {
    display: none;
}

nav .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

nav .menu-icon .nav-icon {
    background: #f0ff00;
    display: block;
    position: relative;
    height: 2px;
    width: 18px;
    transition: background .2s ease-out;
}

nav .menu-icon .nav-icon::before {
    background: #f0ff00;
    content: "";
    height: 100%;
    width: 100%;
    top: 5px;
    position: absolute;
    transition: all .2s ease-out;
}

nav .menu-icon .nav-icon::after {
    background: #f0ff00;
    content: "";
    height: 100%;
    width: 100%;
    top: -5px;
    position: absolute;
    transition: all .2s ease-out;
}

nav .menu-btn:checked ~ .menu {
    max-height: 240px;
}

nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}

nav .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 48em) {
    nav li {
        float: left;
    }

    nav li a {
        padding: 20px 30px;
    }

    nav .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    nav .menu-icon {
        display: none;
    }

}

.btn {
    text-decoration: none;
    margin-top: 15px;
    padding: 10px 12px;
    border: 2px solid #f0ff00;
    border-radius: 7%;
    background-color: rgba(0, 0, 0, 1);
    color: #f0ff00;
    font-weight: normal;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: rgba(75, 75, 75, 0.7);
}

.about-me {
    margin: 150px 10px 100px 150px;
    color: #ececeb;
    width: 90%;
}

.about-me h1 {
    font-size: 50px;
    margin-bottom: 40px;
    color: #f0ff00;
}

.about-me p {
    padding-bottom: 40px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* Social buttons */

.socials {
    left: 60px;
    height: 30%;
    width: 10px;
    bottom: 0ch;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 25%;
    position: fixed;
}

.socials .fab {
    display: block;
    margin-top: 20px;
    cursor: pointer;
    color: #f0ff00  ;
}

.vl {
    border-left: 2px solid #f0ff00;
    height: 100px;
    margin: 30px 0 0 6px;
}

/* Work */

.card {
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.card img {
    width: 20%;
}

/* Footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 1vh;
    text-align: center;
    color: #5a5a5a;
}

.socials2 {
    display: none;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin: 1em auto;
    text-decoration: none;
    font-size: 2rem;
    list-style: none;
}

/* Media queries */
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-bar {
        width: 70%;
    }

    .nav-links {
        font-size: 15px;
    }

    .about-me {
        justify-content: center;
        margin: 150px 0 100px 60px;
        width: 80%;
    }

    .about-me h1 {
        font-size: 2rem;
    }

    .card img {
        width: 80%;
        height: 80%;
    }

    .socials {
        text-align: center;
        position: absolute;
        width: 80%;
        left: 10%;
        height: 4rem;
        bottom: 0;
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 2px;
    }
    
    .vl {
        display: none;
    }

    footer {
        position: relative;
        height: 5vh;
    }

    .socials2 {
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        padding: 10px;
        margin: 1em auto;
        text-decoration: none;
        font-size: 2rem;
        list-style: none;
    }

    .socials2 .fab {
        padding: 10px;
        color: #f0ff00;
    }
}